<!DOCTYPE html>
<html lang="zh-tw">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="content-language" content="zh-Hant-TW" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="" />
  <meta property="og:title" content="" />
  <meta property="og:description" content="" />
  <meta property="og:image" content="" />
  <meta property="og:url" content="" />
  <title>week5 index</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <!-- vue-loading -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-loading-overlay@5.0.2/dist/vue-loading.css">
  <style>
    .productImage {
      height: 100px;
      background-size: cover;
      background-position: center;
    }
  </style>
</head>

<body>
  <div id="app">
    <loading v-model:active="isLoading" :can-cancel="true"></loading>

    <div id="productModal" ref="productModal" class="modal fade" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <product-modal :temp-product="tempProduct" :add-to-cart="addToCart"></product-modal>
    </div>
    <div class="container">
      <div class="mt-4">
        <h2>商品列表</h2>
        <table class="table align-middle">
          <thead>
            <tr>
              <th>圖片</th>
              <th>商品名稱</th>
              <th>價格</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="product in products" :key="product.id">
              <td style="width: 200px">
                <div :style="{
                    backgroundImage: `url(${product.imageUrl})`,
                  }" class="productImage"></div>
              </td>
              <td>{{ product.title }}</td>
              <td>
                <div class="h5" v-if="product.price === product.origin_price">
                  {{ product.price }} 元
                </div>
                <div v-else>
                  <del class="h6">原價 {{ product.origin_price }} 元</del>
                  <div class="h5">現在只要 {{ product.price }} 元</div>
                </div>
              </td>
              <td>
                <div class="btn-group btn-group-sm">
                  <button type="button" class="btn btn-outline-secondary"
                    @click="openProductModal(product)">查看更多</button>
                  <button type="button" class="btn btn-outline-primary" @click="addToCart(product.id)">加到購物車</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="mt-4">
        <h2>購物車列表</h2>
        <div class="text-end">
          <button class="btn btn-outline-danger" type="button" @click="deleteCarts"
            :disabled="cartData.carts.length ===0">
            清空購物車
          </button>
        </div>
        <table class="table align-middle mt-2">
          <thead>
            <tr>
              <th></th>
              <th>品名</th>
              <th style="width: 150px">數量/單位</th>
              <th class="text-end">單價</th>
            </tr>
          </thead>
          <tbody>
            <!-- 購物車資料有沒有存在 -->
            <template v-if="cartData.carts.length > 0">
              <tr v-for="cartItem in cartData.carts" :key="cartItem.id">
                <td>
                  <button type="button" class="btn btn-outline-danger btn-sm" @click="deleteCartItem(cartItem.id)">
                    x
                  </button>
                </td>
                <td>
                  {{ cartItem.product.title }}
                </td>
                <td>
                  <div class="input-group input-group-sm">
                    <div class="input-group mb-3">
                      <select class="form-select" v-model="cartItem.qty"
                        @change="updateCartItem(cartItem.id, cartItem.product_id, cartItem.qty)">
                        <option v-for="num in 40" :value="num" :key="`${num}-${cartItem.id}`">{{ num }}
                        </option>
                      </select>
                      <span class="input-group-text" id="basic-addon2">{{ cartItem.product.unit }}</span>
                    </div>
                  </div>
                </td>
                <td class="text-end">
                  {{ cartItem.total }}
                </td>
              </tr>
            </template>
            <template v-else>
              <tr>
                <td colspan="4" class="text-center">
                  <h5>Oops，購物車沒有資料！</h5>
                </td>
              </tr>
            </template>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="3" class="text-end">總計</td>
              <td class="text-end">{{ cartData.total }}</td>
            </tr>
          </tfoot>
        </table>
      </div>

      <v-form class="mt-4 col-md-6 mx-auto" v-slot="{ meta, errors, values }" @submit="onSubmit">
        <div class="form-group">
          <label for="email" class="text-left w-100">Email</label>
          <v-field id="email" name="email" type="email" class="form-control" :class="{
          'is-invalid': errors.email,
          'is-valid': !errors.email && values.email,
        }" autocomplete="off" placeholder="請輸入 Email" rules="email|required" v-model="user.email"></v-field>
          <error-message name="email" class="invalid-feedback"></error-message>
        </div>
        <div class="form-group mt-4">
          <label for="name" class="text-left w-100">收件人姓名</label>
          <v-field id="name" label="收件人姓名" name="name" type="text" rules="required" class="form-control" :class="{
										'is-invalid': errors.name,
										'is-valid': !errors.name && values.name,
									}" autocomplete="off" placeholder="請輸入收件人姓名" v-model="user.name"></v-field>
          <error-message name="name" class="invalid-feedback"></error-message>
        </div>
        <div class="form-group mt-4">
          <label for="tel" class="text-left w-100">收件人電話</label>
          <v-field id="tel" label="收件人電話" name="tel" type="tel" rules="required|min:8" class="form-control" :class="{
										'is-invalid': errors.tel,
										'is-valid': !errors.tel && values.tel,
									}" autocomplete="off" placeholder="請輸入收件人電話" v-model="user.tel"></v-field>
          <error-message name="tel" class="invalid-feedback"></error-message>
        </div>
        <div class="form-group mt-4">
          <label for="address" class="text-left w-100">收件人地址</label>
          <v-field id="address" label="收件人地址" name="address" type="text" rules="required" class="form-control" :class="{
										'is-invalid': errors.address,
										'is-valid': !errors.address && values.address,
									}" autocomplete="off" placeholder="請輸入收件人地址" v-model="user.address"></v-field>
          <error-message name="address" class="invalid-feedback"></error-message>
        </div>
        <div class="form-group mt-4">
          <label for="message" class="text-left w-100">留言</label>
          <v-field as="textarea" cols="30" rows="3" id="message" name="message" class="form-control"
            v-model="user.message"></v-field>
        </div>
        <div class="text-end mt-4">
          <button type="submit" class="btn btn-primary btn-lg" :disabled="!meta.valid || cartData.carts.length === 0">
            前往結帳
          </button>
        </div>
      </v-form>
    </div>
  </div>

  <!-- vue -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <!-- axios -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <!-- bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>

  <!-- vue-loading -->
  <script src="https://cdn.jsdelivr.net/npm/vue-loading-overlay@5.0.2/dist/vue-loading.min.js"></script>

  <!-- vee-validate -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vee-validate/4.5.8/vee-validate.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@vee-validate/rules@4.5.8/dist/vee-validate-rules.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@vee-validate/i18n@4.5.8/dist/vee-validate-i18n.min.js"></script>

  <script type="module" src="./index.js"></script>
</body>

</html>